if device.status === 'Available'
  section.device-checkout-container
    h2 Check Out
    #w-node-611e299c3c11-8dcbe826
      form#checkout-form.checkout-form(name="wf-form-checkout-form" data-name="checkout-form")
        #w-node-8205072e68af-8dcbe826.div-block-2
          label(for="check-out-grade") Grade:
          select#check-out-grade.grade-dropdown.w-select(name="check-out-grade" required="" data-name="check-out-grade")
            option(value="-1") Select Grade...
            option(value="0") Kindergarden
            - var n = 1
            while n <= 12
              option(value=`${n}`) #{ordinal(n)}
              - n++
        .div-block-2.checkout-student-block#w-node-adb31e0f484d-8dcbe826
          label(for="check-out-student") Student:
          select.form-select.w-select.student-list(value="-1" data-is="dummy" disabled)
            option(value="-1") Select a Student...
          each grade in grades
            select.form-select.w-select.student-list(style="display:none" value=`${grade.grade}`)
              option(value="-1") Select a Student...
              each student in grade.students
                option(value=`${student.id}`) #{student.fullName}
        #w-node-cb2224221011-8dcbe826
          input#checkout-button.checking-button.w-button(type="submit" value=`Check Out ${capitalize(device.deviceType)}` data-wait="Please wait..." disabled=true)
        .checkout-dates-wrapper
          .date-wrapper
            label.w-checkbox
              input.w-checkbox-input#checkout-date-checker(type="checkbox")
              | Manually set checkout date/time
            .date-holder
              .fakebox
                span.material-icons(style="margin-right:10px") date_range
                span.date-text Pick a date...
              input#checkout-date(type="text" data-invalid="future")
          .date-wrapper
            label.w-checkbox
              input.w-checkbox-input#due-date-checker(type="checkbox")
              | Set a due date
            .date-holder
              .fakebox
                span.material-icons(style="margin-right:10px") event
                //- | 02/11/2021, 23:20:50
                span.date-text Pick a date...
              input#due-date(type="text" data-invalid="past")