section.device-log-container
  h2 #{capitalize(device.deviceType)} Check Out History
  if checkOutLog.length > 0
    table.database-table#checkout-history
      thead
        tr
          th
          th Status
          th Student
          th Check Out Date
          th Check Out Teacher
          th Check In Date
          th Check In Teacher
      tbody
        each log in checkOutLog
          //- - const checked = log.checkedIn ? log.error ? {text: "Checked In (Error)", class: "warning"} : {text: "Checked In", class: "check_circle"} : {text: "Checked Out", class: "remove_circle"}
          - const checked = log.checkedIn ? {text: "Checked In", class: "check_circle"} : {text: "Checked Out", class: "remove_circle"}
          - if (log.error) checked.class = "warning"
          tr(data-checkout-id=`${log._id}`)
            td 
              i(class=`material-icons ${checked.class} md-24`) #{checked.class}                  
            td #{checked.text}
              - if (log.error)
                =" "
                span.go-to-error(data-error-id=`${log.error._id}`) (Error) 
            td #{log.deviceUser.fullName}
            td #{new Date(`${log.checkOutDate}`).toLocaleString()}
            td #{log.teacherCheckOut.fullName}
            td #{log.checkInDate ? new Date(`${log.checkInDate}`).toLocaleString() : "-"}
            td #{log.teacherCheckIn ? log.teacherCheckIn.fullName : "-"}
  else
    p.nothing There are no records to display