section.device-error-log-container
  h2 #{capitalize(device.deviceType)} Error History
  - if (device.status !== "Checked Out")
    .create-error-form-wrapper
      form.create-error-form#create-error-form
        .error-text-fields-wrapper#error-text-fields-create
          h3 Add New Error
          .error-text-fields-container
            .create-user-label(style="display:flex;align-items: center") Title of Issue
              span.required-asterisk *
            div
              input.form-text-field.w-input#create-error-title
            .create-user-label Description of Issue
              span.required-asterisk *
            .checkin-decsription-container 
              textarea.form-text-field.w-input.textarea#create-error-description(rows="5" cols="50" maxlength="500")
              p.text-counter 
                span 0
                | /500
            .error-date-wrapper#create-error-date-wrapper
              .date-wrapper
                label.w-checkbox
                  input.w-checkbox-input#error-date-checker(type="checkbox")
                  | Manually set error date/time
                .date-holder
                  .fakebox
                    span.material-icons(style="margin-right:10px") date_range
                    span.date-text Pick a date...
                  input#error-date(type="text" data-invalid="future")
            div
            .buttons-wrapper
              .cancel-button#cancel-create-new-error Cancel
              input#create-error-button.checking-button.w-button(type="submit" value="Create New Error" data-wait="Please wait..." style="margin-right:0px" disabled)
  - const statusIcons = {fixed: "check_circle", inRepair: "construction", broken: "error", unfixable: "block"}
  if errorLogs.length > 0
    table.database-table#error-history
      thead
        tr
          th 
          th Status
          th Title
          th Error Created Date
          th Description
          th
      tbody
        for errorLog in errorLogs
          tr(id=`${errorLog._id}` data-expanded="0")
            td
              i(class=`material-icons ${statusIcons[camelize(errorLog.status)]} md-24`) #{statusIcons[camelize(errorLog.status)]}
            td #{errorLog.status}
            td #{errorLog.title}
            td #{new Date(`${errorLog.createdAt}`).toLocaleString()}
            td.device-description-cell #{errorLog.description}
            td
              span(style="color:black;cursor:pointer")
                i.material-icons.expand_more.md-24 expand_more
          tr.error-info-row
            td(colspan="6")
              div.more-error-info
                +errorSpan("Title", errorLog.title)
                +errorSpan("Description", errorLog.description)
                +errorSpan("Status", errorLog.status, statusIcons[camelize(errorLog.status)])
                - if (errorLog.updates.length)
                  br
                  +errorSpan("Updates")
                  br
                  - let updateIndex = 0;
                  each update in errorLog.updates
                    - updateIndex++
                    span
                      - if (updateIndex == errorLog.updates.length && errorLog.final == true)
                        b Final Update:
                      - else
                        b Update #{updateIndex}:
                      | &nbsp;&nbsp;&nbsp;#{update.description}
                      div
                        | #{update.createdAt.toLocaleString()}
                      div
                        i(class=`material-icons ${statusIcons[camelize(update.status)]} md-15`) #{statusIcons[camelize(update.status)]}&nbsp;
                        | #{update.status}
  else
    p.nothing There are no errors to display
  - if (device.status !== "Checked Out")
    button#new-error-button.add-button.w-button + Add New Error