extends base

block floating
  .floating-button
    a.edit-button.w-button(href=`/${pluralize(key)}/stats`) View Stats
  
block content  
  .w-form
    form#no-submit(data-name="no-submit" name="wf-form-no-submit")
      .content-top
        .div-block-3
          .device-search-wrapper
            .search-icon-wrapper
              .w-embed
                // Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)
                svg#Capa_1(version="1.1" fill="currentColor" width="12" height="12" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 489.713 489.713" style="enable-background:new 0 0 489.713 489.713;" xml:space="preserve")
                  g
                    path(d="M483.4,454.444l-121.3-121.4c28.7-35.2,46-80,46-128.9c0-112.5-91.5-204.1-204.1-204.1S0,91.644,0,204.144\
                    s91.5,204,204.1,204c48.8,0,93.7-17.3,128.9-46l121.3,121.3c8.3,8.3,20.9,8.3,29.2,0S491.8,462.744,483.4,454.444z M40.7,204.144\
                    c0-90.1,73.2-163.3,163.3-163.3s163.4,73.3,163.4,163.4s-73.3,163.4-163.4,163.4S40.7,294.244,40.7,204.144z")
            input#device-search-input.device-search-input.w-input(type="text" maxlength="256" name="Device-Search-Input" data-name="Device Search Input" placeholder="Search")
          label.w-checkbox.available-button
            input#available.w-checkbox-input.available-checkbox(type="checkbox" name="checkbox" data-name="Checkbox")
            .available-circle
            span.w-form-label Available
        a.add-button.w-button(href=`/${pluralize(key)}/add`) + Add #{capitalize(key)}
      .device-table-wrapper.w-embed
        table.database-table#device-table(style="width:100%")
          colgroup
            col(span="1" style="width:18%;")
            col(span="1" style="width:7%;")
            col(span="1" style="width:19%;")
          thead
            tr
              th Name
              th Brand
              th Serial Number
              th MAC Address
              th Status
              th Check Out
          tbody
            //- Test Beginning
            each device in devices
              - if (device.lastUser) grade = device.lastUser.grade === 0 ? "K" : ordinal(device.lastUser.grade);
              tr
                td
                  img.device-logo(src=`/images/device-logos/${device.brand}-Logo.png`)
                  a.name(href=`/${pluralize(key)}/${device.slug}`) #{device.name}
                td #{device.brand}
                td #{device.serialNumber}
                td #{device.macAddress}
                td(id=`status-${device.status.toLowerCase().split(" ").join("")}`)
                  div(class=`${device.status.toLowerCase().split(" ").join("")}-circle`)
                  if (device.dueDate)
                    | Due #{moment(device.dueDate).fromNow()}
                  else
                    | #{device.status}
                if device.status === 'Available'
                  td 
                    a.check-out(href=`/${pluralize(key)}/${device.slug}#check-out`)
                      b Check Out >
                if device.status === 'Checked Out'
                  //- Come Back And Implement
                  td= `${device.lastUser.fullName} (${grade})`
                else
                  td
              //- Test

block addEnd
  script.
    $('input#available').change(function(){
    if($(this).is(':checked')) {
    // Checkbox is checked..
    $('.available-button').css('border', 'solid 2px #60a5f8')
    } else {
    // Checkbox is not checked..
    $('.available-button').css('border', 'solid 2px #e9effd')
    }
    });
    $('.device-search-input').on('keyup', function () {
    if ($(this).val()) {
    $('.device-search-wrapper').css('border', 'solid 2px #60a5f8');
    } else {
    $('.device-search-wrapper').css('border', 'solid 2px #e9effd');
    }
    });
    $('form#no-submit').submit(function(e) {
    return false;
    e.preventDefault();
    });
    (function() {
      if(performance.navigation.type == 2){
        location.reload(true);
      }
    })()
  script(src="/js/filtering.js")