extends base

block content
  .device-table-wrapper
    table.database-table#stats-table(style="width:100%;text-align:center")
      thead
        tr
          th Brand
          th Total
          th Available
          th Checked Out
          th Broken
          th Not Available
      tbody
      each brand in brands
        tr.brand-row
          td(style="font-weight:bold;font-size:16px") 
            img.device-logo(src=`/images/device-logos/${brand.brand}-Logo.png`)
            | #{brand.brand}
          td #{brand.count}
          td #{getBrandStatusCount(brand.models, "Available")}
          td #{getBrandStatusCount(brand.models, "Checked Out")}
          td #{getBrandStatusCount(brand.models, "Broken")}
          td #{getBrandStatusCount(brand.models, "Not Available")}
        each model in brand.models
          tr.model-row
            td #{model.model}
            td #{model.count}
            td #{getModelStatusCount(model.statuses, "Available")}
            td #{getModelStatusCount(model.statuses, "Checked Out")}
            td #{getModelStatusCount(model.statuses, "Broken")}
            td #{getModelStatusCount(model.statuses, "Not Available")}
      tfoot
        tr
          td(style="font-weight:bold;font-size:16px") Total
          td #{totals.count}
          td #{getModelStatusCount(totals.statuses, "Available")}
          td #{getModelStatusCount(totals.statuses, "Checked Out")}
          td #{getModelStatusCount(totals.statuses, "Broken")}
          td #{getModelStatusCount(totals.statuses, "Not Available")}