extends base

block content
  form#edit-student(name="wf-form-Edit-Student" data-name="Edit Student" data-student=`${student._id}`)
    .content-top
    .bottom-content-grid
      #w-node-a43230b1ad1c-7b2f5e2c.create-user-label
        | First Name: 
        span.required-asterisk *
      input#edit-student-first-name.form-text-field.w-input(type="text" maxlength="256" name="firstName" data-name="firstName" required="" value=`${student.firstName}`)
      #w-node-010d328668ef-7b2f5e2c.create-user-label
        | Last Name: 
        span.required-asterisk *
      input#edit-student-last-name.form-text-field.w-input(type="text" maxlength="256" name="lastName" data-name="lastName" required="" value=`${student.lastName}`)
      #w-node-99422d9f5615-7b2f5e2c.create-user-label
        | Status: 
        span.required-asterisk *
      select#edit-student-status.form-select.w-select(name="status" required="" data-name="status")
        option(value="") Select one...
        option(value="Active") Current Student
        option(value="Inactive") Former Student
        option(value="Graduate") Graduate
      #w-node-3b9a95ed2ff9-7b2f5e2c.create-user-label
        | Grade: 
        span.required-asterisk *
      select#edit-student-grade.form-select.w-select(name="grade" data-name="grade")
        option(value="") Select one...
        option(value="0") Kindergarden
        option(value="1") 1st 
        option(value="2") 2nd
        option(value="3") 3rd
        option(value="4") 4th
        option(value="5") 5th
        option(value="6") 6th
        option(value="7") 7th
        option(value="8") 8th
        option(value="9") 9th
        option(value="10") 10th
        option(value="11") 11th
        option(value="12") 12th
      #w-node-0a98fe4b7772-7b2f5e2c.create-user-label
        | Cornerstone Email: 
        span.required-asterisk *
      input#edit-student-school-email.form-text-field.w-input(type="email" maxlength="256" name="schoolEmail" data-name="schoolEmail" placeholder="e.g. first.last@cornerstone-schools.org" required=""  value=`${student.schoolEmail}`)
      #w-node-4ce0cb768e17-7b2f5e2c.create-user-label
        | Personal Email:
        span.required-asterisk
      if student.personalEmail
        input#edit-student-personal-email.form-text-field.w-input(type="email" maxlength="256" name="personalEmail" data-name="personalEmail" placeholder="e.g. example@gmail.com" value=`${student.personalEmail}`)
      else
        input#edit-student-personal-email.form-text-field.w-input(type="email" maxlength="256" name="personalEmail" data-name="personalEmail" placeholder="e.g. example@gmail.com" value='')
      if student.customID
        input#edit-student-custom-id.form-text-field.w-input(type="text" maxlength="256" name="customID" data-name="customID" placeholder="12345"  value=`${student.customID}`)
      else
        input#edit-student-custom-id.form-text-field.w-input(type="text" maxlength="256" name="customID" data-name="customID" placeholder="12345"  value='')
      input#w-node-dbae2364cc1b-7b2f5e2c.add-button.create.w-button(type="submit" value="Save Changes" data-wait="Please wait...")
      #w-node-64c518dc20de-7b2f5e2c.create-user-label
        | Renweb ID:
        span.required-asterisk

block addEnd
  script.
    $('select#edit-student-status option[value="#{student.status}"]').attr('selected','');  
    $('select#edit-student-grade option[value="#{student.grade}"]').attr('selected','');  