extends base

block content
  .w-form
    form#edit-tablet(name="wf-form-Edit-Chromebook" data-name="Edit Chromebook" data-tablet=`${tablet._id}`)
      .content-top
      .bottom-content-grid
        #w-node-c4b4e7e1a518-c92df52a.create-user-label
          | Name: 
          span.required-asterisk *
        #w-node-c4b4e7e1a51c-c92df52a.create-user-label
          | Brand: 
          span.required-asterisk *
        #w-node-c4b4e7e1a520-c92df52a.create-user-label
          | Model: 
          span.required-asterisk *
        #w-node-c4b4e7e1a524-c92df52a.create-user-label
          | Serial Number: 
          span.required-asterisk *
        input#edit-tablet-name.form-text-field.w-input(type="text" maxlength="256" name="name" data-name="name" placeholder="HP 01" required="" value=`${tablet.name}`)
        input#edit-tablet-brand.form-text-field.w-input(type="text" maxlength="256" name="brand" data-name="brand" placeholder="HP" required="" value=`${tablet.brand}`)
        input#edit-tablet-model.form-text-field.w-input(type="text" maxlength="256" name="model" data-name="model" placeholder="HP Chromebook 14 G5" required="" value=`${tablet.model}`)
        input#edit-tablet-sn.form-text-field.w-input(type="text" maxlength="256" name="serialNumber" data-name="serialNumber" placeholder="5CD8214GMZ" required="" value=`${tablet.serialNumber}`)
        #w-node-c4b4e7e1a52c-c92df52a.create-user-label
          | MAC Address: 
          span.required-asterisk *
        input#edit-tablet-mac.form-text-field.w-input(type="text" maxlength="256" name="macAddress" data-name="macAddress" placeholder="5C:5F:67:B0:DC:36" required="" value=`${tablet.macAddress}`)
        select#edit-tablet-status.form-select.w-node-c4b4e7e1a532-c92df52a.w-select(name="status" data-name="status")
          option(value="") Select one...
          option(value="Available") Available
          option(value="Broken") Broken
          option(value="Not Available") Not Available
        input#w-node-c4b4e7e1a531-c92df52a.add-button.create.w-button(type="submit" value="Save Changes" data-wait="Please wait...")
        #w-node-c4b4e7e1a533-c92df52a.create-user-label
          | Current Status: 
          span.required-asterisk *

block addEnd          
  script.
    $('select#edit-tablet-status [value="#{tablet.status}"]').attr('selected','');