extends base

mixin errorSpan(name, data, icon)
  span
    b #{name}
    =" "
    - if (icon)
      i(class=`material-icons ${icon} md-12`) #{icon}&nbsp;
    | #{data}

mixin errorChip(value)
  .chip-wrapper
    label.w-radio
      .chip.waves-effect
        input.w-form-formradioinput.radio-button.w-radio-input(type='radio' value=`${value}` name='Update Status' required='')
        | #{value}


block floating
  .floating-button
    a.edit-button.w-button(href=`${device.slug}/edit`) Edit #{device.name}

block content
  - if (device.lastUser) grade = device.lastUser.grade === 0 ? "K" : ordinal(device.lastUser.grade);
  .content-top
    .heading-wrapper
      img#w-node-46e418b23310-8dcbe826.image(src=`/images/device-logos/${device.brand}-Logo.png` height="50" alt=`${device.brand} Logo`)
      h2.title-heading.item #{device.name}
    .status-wrapper
      div(class=`${device.status.toLowerCase().split(" ").join("")}-circle`)
      div(id=`status-${device.status.toLowerCase().split(" ").join("")}`) 
        if (device.dueDate)
          | Due #{moment(device.dueDate).fromNow()}
        else
          | #{device.status}
  .device-item-content-wrapper
    section.device-item-container
      div
        h4 Model
        div #{device.model}
      div
        h4 Serial Number
        div #{device.serialNumber}
      div
        h4 MAC Address
        div #{device.macAddress}
      div
        h4 Management Type
        div Cloud
      div
        h4 Device Type
        div Education Upgrade
      if device.autoUpdateExpiration
        div
          h4 Auto-update expiration
          div #{device.autoUpdateExpiration}
      else
        div
      if device.checkedOut
        .conditional-check-out
          h4 Checked Out By
          div= `${device.lastUser.fullName} (${grade})`
        .conditional-check-out
          h4 Teacher Check Out
          div= `${device.teacherCheckOut.fullName} (${device.teacherCheckOut.email})`
        .conditional-check-out
          h4 Check Out Date
          - const date = new Date(`${device.lastCheckOut}`).toLocaleString()
          div= date
    include ./components/checkOutSection
    include ./components/checkInSection
    include ./components/updateErrorSection
    include ./components/deviceLogSection
    include ./components/errorHistorySection

block addEnd
  script(src="/js/expand.js")
  script.
    $('h1').css('display', 'none')
    if (window.location.hash === "#check-out") {
      $(".device-checkout-container").addClass("blinking");
    }
    window.pageData = { 
      id: "#{device._id}", 
      deviceType: "#{key}"
    };
    Object.freeze(window.pageData);
    const pickerOptions = {
      format: 'MM/DD/YYYY, HH:mm:ss',
      controls: true,
      headers: true,
      text: {
        title: 'Pick a date (Time uses 24-hour format)',
      },
    };
    const pickers = ['#checkout-date', '#due-date', '#error-date']
    if ($(".date-wrapper").length > 0) {
      pickers.forEach(picker => {
        if ($(picker).length > 0) {
          new Picker(document.querySelector(picker), pickerOptions);
        }
      });  
    }
    $("script").last().remove();