extends base

block content
  .content-top
    .heading-wrapper
      img#w-node-46e418b23310-8dcbe826.image(src=`/images/device-logos/${device.brand}-Logo.png` height="50" alt=`${device.brand} Logo`)
      h2.title-heading.item #{device.name}
    .status-wrapper
      div(class=`${device.status.toLowerCase().split(" ").join("")}-circle`)
      div(id=`status-${device.status.toLowerCase().split(" ").join("")}`) #{device.status}
  .device-item-content-wrapper
    .device-item-container
      div
        h4 Model
        div #{device.model}
      div
        h4 Serial Number
        div #{device.serialNumber}
      div
        h4 MAC Address
        div #{device.macAddress}
      div
        h4 Management Type
        div Cloud
      div
        h4 Device Type
        div Education Upgrade
      if device.autoUpdateExpiration
        div
          h4 Auto-update expiration
          div #{device.autoUpdateExpiration}
      else
        div
      if device.checkedOut
        .conditional-check-out
          h4 Checked Out By
          div= `${device.lastUser.fullName} (${device.lastUser.grade}th)`
        .conditional-check-out
          h4 Teacher Check Out
          div= `${device.teacherCheckOut.fullName} (${device.teacherCheckOut.email})`
        .conditional-check-out
          h4 Check Out Date
          - const date = new Date(`${device.lastCheckOut}`).toLocaleString()
          div= date
    if device.status === 'Available'
      .device-checkout-container
        h2 Check Out
        #w-node-611e299c3c11-8dcbe826.w-form
          form#checkout-form.checkout-form(name="wf-form-checkout-form" data-name="checkout-form")
            #w-node-8205072e68af-8dcbe826.div-block-2
              label(for="check-out-grade") Grade:
              select#check-out-grade.grade-dropdown.w-select(name="check-out-grade" required="" data-name="check-out-grade")
                option(value="-1") Select Grade...
                option(value="0") Kindergarden
                option(value="1") 1st
                option(value="2") 2nd
                option(value="3") 3rd
                option(value="4") 4th
                option(value="5") 5th
                option(value="6") 6th
                option(value="7") 7th
                option(value="8") 8th
                option(value="9") 9th
                option(value="10") 10th
                option(value="11") 11th
                option(value="12") 12th
            .div-block-2.checkout-student-block#w-node-adb31e0f484d-8dcbe826
              label(for="check-out-student") Student:
              select.form-select.w-select.student-list(value="-1" data-is="dummy" disabled)
                option(value="-1") Select a Student...
              each grade in grades
                select.form-select.w-select.student-list(style="display:none" value=`${grade.grade}`)
                  option(value="-1") Select a Student...
                  each student in grade.students
                    option(value=`${student.id}`) #{student.fullName}
            #w-node-cb2224221011-8dcbe826
              input.checking-button.w-button.disabled(type="submit" value=`Check Out ${capitalize(device.deviceType)}` data-wait="Please wait...")
    if device.status === 'Checked Out'
      .device-checkin-container
        h2 Check In
        #w-node-0358f8b77d52-8dcbe826.w-form
          form#checkin-form.checkin-form(name="wf-form-checkin-form" data-name="checkin-form" data-device=`${device._id}`)
            #w-node-0358f8b77d54-8dcbe826.div-block-2
              label.w-checkbox
                input#checkin-checkbox.w-checkbox-input(type="checkbox" name="checkbox" data-name="Checkbox" required="")
                span.w-form-label= `${device.lastUser.fullName} has returned the laptop in working condition`
            #w-node-0358f8b77d5c-8dcbe826
              input.checking-button.w-button.disabled(type="submit" value=`Check In ${capitalize(device.deviceType)}` data-wait="Please wait...")

block addEnd
  script.
    $('h1').css('display', 'none')
    if (window.location.hash === "#check-out") {
      $(".device-checkout-container").addClass("blinking");
    }
    window.pageData = { 
      id: "#{device._id}", 
      deviceType: "#{key}"
    };
    $("script").last().remove()